.btn {
  margin: 16px 0;
  width: 480px;
  height: 48px;
  padding: 12px 24px 15px 24px;
  border-radius: 90px;
  border: none;
  background: #FF5100;
  font-size: 18px;
  font-weight: 500;
  line-height: 20.68px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  &:hover {
    background: var(--Primary-hover, #FF6219);
  }
  &:active {
    background: var(--Primary-active, #E64900);
  }
}
