.form-group {
  margin: 32px 0 0;
  border: 0 none;
  .form-label {
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    text-align: left;
    margin-bottom: 16px;
    &.error {
      color: #E40005;
    }
  }
  .form-input {
    font-size: 16px;
    line-height: 125%;
    width: 480px;
    height: 48px;
    padding: 13px 14px 13px 14px;
    border-radius: 24px;
    border: 1px solid #E3E3E3;
    margin-top: 8px;
    &:focus {
      border-color: #FF5100;
    }
    &:hover {
      border: 1px solid #FF5100;
    }
    &.error {
      border: 1px solid var(--error, #E40005);
    }
  }
  .form-error {
    display: none;
    margin-top: 5px;
    color: #E40005;
    font-size: 12px;
    font-weight: 400;
  }
  &_orange {
    color: #FF5100;
  }
}
input::placeholder {
  color: #D1D1D1;
}




