.rating {
  label {
    cursor: pointer;
  }
  &__bubble {
    display: flex;
    justify-content: space-between;
    input {
      display: none;
    }
    span {
      display: block;
      padding: 10px 10px;
      height: 44px;
      width: 44px;
      color: var(--on-Primary-Container, #0D0D0D);
      text-align: center;
      font-size: 20px;
      font-weight: 500;
      border-radius: 100px;
      background: var(--Primary-Container, #E3E3E3);
      &:hover {
        background: #DBDBDB;
      }
    }
    &:last-child {
      margin-right: 0;
    }

    [type=radio]:checked + span:before { /* <-- ставим иконку, когда чекбокс включен  */
      content: '';
    }
    [type=radio]:checked + span {
      background: #FF5100;
      color: #FFFFFF;
    }
  }
  &__wrap {
    display: flex;
    margin-top: 12px;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
  &__text-two {
    text-align: right;
  }
}
