<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles/app.css">
</head>
<body>
    <form novalidate class="form-block">
        <div class="header">
            <div class="switch-lang">
                <div class="switch-lang__language"><img src="images/icons/ukrainian.svg" alt="ukrainian"></div>
                <div class="switch-lang__chevron"><img src="images/icons/chevron-down.svg" alt="chevron"></div>
            </div>
            <div class="switch-modal">
                <div class="switch-lang__wrap">
                    <div class="switch-modal__title">Змінити мову</div>
                    <div class="switch-modal__close"><img src="images/icons/x.svg"></div>
                    <div class="switch_modal__text"><img src="images/icons/ukrainian.svg" alt="ukrainian">Українська</div>
                    <div class="switch_modal__text"><img src="images/icons/english.svg" alt="english">English</div>
                    <div class="switch_modal__text"><img src="images/icons/czech.svg" alt="czech">Česky</div>
                    <div class="switch_modal__text"><img src="images/icons/polish.svg" alt="polish">Polski</div>
                </div>
            </div>
        </div>
        <div class="form-wrap">
            <div class="logo">
                <img src="images/logo/logo-wrapper.svg" alt="logo">
            </div>
            <fieldset class="form-group rating">
                <legend class="form-label"><span class="form-group_orange">*</span> Наскільки ймовірно що ви порекомендуєте знайомим або друзям наш заклад?</legend>
                    <div class="rating__bubble">
                        <label>
                            <input type="radio" name="rating" value="1" />
                            <span>1</span>
                        </label>
                        <label>
                            <input type="radio" name="rating" value="2" />
                            <span>2</span>
                        </label>
                        <label>
                            <input type="radio" name="rating" value="3" />
                            <span>3</span>
                        </label>
                        <label>
                            <input type="radio" name="rating" value="4" />
                            <span>4</span>
                        </label>
                        <label>
                            <input type="radio" name="rating" value="5" />
                            <span>5</span>
                        </label>
                        <label>
                            <input type="radio" name="rating" value="6" />
                            <span>6</span>
                        </label>
                        <label>
                            <input type="radio" name="rating" value="7" />
                            <span>7</span>
                        </label>
                        <label>
                            <input type="radio" name="rating" value="8" />
                            <span>8</span>
                        </label>
                        <label>
                            <input type="radio" name="rating" value="9" />
                            <span>9</span>
                        </label>
                        <label>
                            <input type="radio" name="rating" value="10" />
                            <span>10</span>
                        </label>
                    </div>
                    <div class="rating__wrap">
                        <div class="rating__text">Категорично<br> не рекомендую!</div>
                        <div class="rating__text-two">Обовязково<br>порекомендую!</div>
                    </div>
            </fieldset>
            <fieldset class="form-group radiobutton">
                    <legend class="form-label"><span class="form-group_orange">*</span> Питання для Radiobutton</legend>
                    <label class="label-radio">
                        <input type="radio" name="questionOne" value="veryLongAnswer" />
                        <span></span>
                        Очень длинный ответ который должен показать как будет вести себя текст если он длиннее одной строчки
                    </label><br />
                    <label class="label-radio">
                        <input type="radio" name="questionOne" value="Yes" />
                        <span></span>
                        Так
                    </label><br />
                    <label class="label-radio">
                        <input type="radio" name="questionOne" value="No" />
                        <span></span>
                        Ні
                    </label>
            </fieldset>
            <fieldset class="form-group checkbox">
                <legend class="form-label"><span class="form-group_orange">*</span> Питання для Checkbox</legend>
                <label class="checkbox__label">
                <input class="form-checkbox" type="checkbox" name="questionTwo" value="veryLongAnswer" />
                    <span></span>
                    Очень длинный ответ который должен показать как будет вести себя текст если он длиннее одной строчки
                </label><br />
                <label>
                <input class="form-checkbox" type="checkbox" id="checkbox-two" name="questionTwo" value="Yes" />
                    <span></span>
                    Так
                </label><br />
                <label>
                <input class="form-checkbox" type="checkbox" id="checkbox-three" name="questionTwo" value="No" />
                    <span></span>
                    Ні
                </label>
            </fieldset>
            <div class="form-group">
                <label class="form-label"><span class="form-group_orange">*</span> Питання для відповіді зірочками</label>
                <input name="stars1" type="hidden">
                <div class="stars">
                    <div class="stars__item"></div>
                    <div class="stars__item"></div>
                    <div class="stars__item"></div>
                    <div class="stars__item"></div>
                    <div class="stars__item"></div>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label"><span class="form-group_orange">*</span> Питання для відповіді зірочками</label>
                <input name="stars2" type="hidden">
                <div class="stars">
                    <div class="stars__item"></div>
                    <div class="stars__item"></div>
                    <div class="stars__item"></div>
                    <div class="stars__item"></div>
                    <div class="stars__item"></div>
                </div>
            </div>
            <fieldset class="form-group add-photo">
                <label class="custom-file-upload">
                    <input id="fileUpload" name="photo" type="file" accept="image/png, image/jpeg" value="" >
                    Додати фото
                </label>
                 <div class="add-photo__wrap">
                     <img src="#" alt="preview" id="filePreview">
                     <div class="remove-photo">
                         Видалити
                         <img src="images/icons/trash.svg" alt="trash">
                     </div>
                 </div>
            </fieldset>
            <div class="form-group">
                <label class="form-label comment" for="comment"><span class="form-group_orange">* </span>Залишити коментар</label>
                <textarea class="form-textarea" id="comment" name="comment" required placeholder="Коментар" value="comment"></textarea>
                <div class="form-error"></div>
            </div>
<!--            <div class="form-group">-->
<!--                <label class="form-label error" for="text"><span class="form-group_orange">*</span> Инпут Error</label>-->
<!--                <input class="form-input error" id="text" name="text" required placeholder="example" type="text">-->
<!--                <div class="form-error">Це поле повинно бути заповнене</div>-->
<!--            </div>-->
            <div class="form-group">
                    <label class="form-label" for="email">Ваш Email <span class="form-group_orange">*</span></label>
                    <input class="form-input" id="email" name="email" required placeholder="example@gmail.com" type="email">
                    <div class="form-error"></div>
            </div>
            <div class="form-group">
                <label class="form-label" for="phone">Номер телефону <span class="form-group_orange">*</span></label>
                <input class="form-input" id="phone" name="phone" type="text">
                <div class="form-error">Це поле повинно бути заповнене</div>
            </div>
            <fieldset class="checkbox anonymous">
                <label class="form-label" for="anonymous">
                    <input class="form-checkbox" type="checkbox" id="anonymous" name="answer" value="anonymous" />
                    <span></span>
                    Анонімний відгук
                </label>
                <div class="anonymous__text">Вказуючи номер телефону або email Ви погоджуєтеся з <br>нашою <a href="#">політикою конфіденційності</a></div>
            </fieldset>
            <button class="btn" type="submit" >Надіслати</button>
        </div>
        <div class="footer">
                <img src="images/logo/LogoQBtools.svg" alt="qb_tools">
        </div>
    </form>
<script src="scripts/app.js"></script>
</body>
</html>
